.css-ax94ij-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  font-weight: bolder;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #eeeee461;
}
