.formContainer {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.formMain {
  width: 60%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bgImage {
  width: 40%;
}

.bgImage img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
  min-width: 300px;
  overflow: hidden;
}

.formInputs {
  text-align: center;
  height: 400px;
  width: 350px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.formInputsSignUp {
  text-align: center;
  height: 450px;
  width: 450px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.spaceBetweenJustify {
  display: flex;
  justify-content: space-between;
}

.spaceBetweenAlign {
  display: flex;
  justify-content: space-evenly;
}

.reminder {
  background-color: #86969e;
  border-radius: 10px;
  height: 80px;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -1vw;
}

.reminder span {
  background-color: #86969e;
  color: yellow;
}
